body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    /* display: flex; */
    height: 500px;
    padding-bottom: 150px;
}
.Banner_top{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.top-banner{
   
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    padding-top: 10px;
    width: 80%;
}
.anchor_button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(3, 70, 8), rgb(27, 235, 27));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h1 span{
    color: rgb(8, 204, 34);
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h2{
    font-size: 40px;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area h3{
    color: orange;
}

.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}


#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(18, 21, 202), rgb(79, 189, 28));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(173, 25, 166), rgb(221, 115, 44));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}




































